<link rel="stylesheet" href="css/sign_up.css">
<main class="main">
	<div class="container">
		<section class="wrapper">
			<div class="heading">
				<h1 class="text text-large">Sign Up</h1>
				</p>
			</div>
			<form action="/user/create_user" name="signin" class="form" method="post">
				<div class="input-control">
					<label for="name" class="input-label" hidden>Name</label>
					<input type="text" name="name" id="name" class="input-field" placeholder="Enter Your Name">
				</div>
				<div class="input-control">
					<label for="email" class="input-label" hidden>Email Address</label>
					<input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
				</div>
				<div class="input-control">
					<label for="password" class="input-label" hidden>Password</label>
					<input type="password" name="password" id="password" class="input-field" placeholder="Password">
				</div>
				<div class="input-control">
					<label for="confirm_password" class="input-label" hidden>Confirm Password</label>
					<input type="password" name="confirm_password" id="confirm_password" class="input-field" placeholder="Confirm Your Password">
				</div>
				<div class="input-control">
					<a href="/user/forgot-password" class="text text-links">Forgot Password</a>
					<input type="submit" name="submit" class="input-submit" value="Sign Up">
				</div>
			</form>
			<div class="striped">
				<span class="striped-line"></span>
				<span class="striped-text">Or</span>
				<span class="striped-line"></span>
			</div>
			<div class="method">
				<div class="method-control">
					<a href="/user/auth/google" class="method-action">
                        <div style="color: red; margin-right: 10px;">
                            <i class="fa-brands fa-google"></i>
                        </div>
						<span>Sign in with Google</span>
					</a>
				</div>
			</div>
		</section>
	</div>
</main>
