footer {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 0px;
}

footer #copy {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer #link {
  width: auto;
  margin:  auto;
  margin-bottom: -23px;
  margin-top: 10px;
}

footer #link a {
  text-decoration: none;
  color: white;
}