footer {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50rem; }
  footer #copy {
    display: flex;
    justify-content: center;
    margin: 5px; }
  footer #link {
    margin: 5px;
    margin-left: 10px; }
    footer #link a {
      text-decoration: none;
      color: white; }
